useDynLib("SemiSupervised",.registration=TRUE,.fixes = "C_")
import("methods")
importFrom("stats", "as.formula", "delete.response", "dist", "kmeans",
                        "median", "model.frame", "model.matrix", "model.response",
                        "na.pass", "quantile", "terms","na.omit")
export(
  "agraph",
  "agraph.default",
  "jtharm",
  "jtharm.default",
  "s4pm",
  "s4pm.default",
  "SemiSupervised.control",
  "AnchorGraph",
  "knnGraph",
  "kgraph.predict",
  "kgraph.symm",
  "epsGraph",
  "eps.predict",
  "eps.symm",
  "impute.median",
  "dG",
  "sG",
  "aG",
  "x.scaleL",
  "getAnchor",
  "cv.folds",
  "h.est",
  "extract.a",
  "extract.xg",
  "extract.g",
  "inter.predict",
  "euclidDist",
  "cosineDist",
  "ymatrix",
  "xmatrix",
  "gmatrix",
  "measures",
  "type",
  "lparm",
  "gparm",
  "hparm",
  "ymatrix<-",
  "xmatrix<-",
  "gmatrix<-",
  "measures<-",
  "type<-",
  "lparm<-",
  "gparm<-",
  "hparm<-")

exportMethods("fitted","dim","show","predict")
exportClasses("SemiSupervised","parm")
